<div class="login-container">
    <h1>Log in</h1>
    <div>
        <p>Log in with one of the following options</p>
    </div>
    <div class="login-options">
        <button>
            <p>Continue with Instagram</p>
            <img src="../../assets/images/instagram.svg" alt="instagram icon">
        </button>
        <button>
            <p>Continue with Facebook</p>
            <img src="../../assets/images/facebook.svg" alt="facebook icon">
        </button>
    </div>
    <p>or</p>
    <form action="">
        <p><span>Email</span></p>
        <input type="email" name="input-email" id="input-email" placeholder="user@mail.com">
        <p><span>Password</span></p>
        <input type="password" name="input-password" id="input-password" placeholder="Enter your password">
        <button type="submit">Log in</button>
        <div>
            <p>Dont have an account? <span>Sign up</span></p>
        </div>
    </form>
</div>