<div class="post-container">
    <header>

    </header>
    <div class="post-body">
        <div class="img-profile">
            <img src="../../../../assets/images/facebook.svg" alt="">
        </div>
        <div class="content">
            <h1>Name user<span> @username - 25 min</span></h1>
            <p>test post random generator aleatory commit</p>
            <footer>
                <img src="../../../../assets/images/comment.svg" alt="comment">
                <img src="../../../../assets/images/retweet.svg" alt="Retweeet">
                <img src="../../../../assets/images/heart.svg" alt="">
            </footer>
        </div>
    </div>
</div>
